body{
    margin: 0;
    padding: 0;
}
.topper{
    margin: 10px 20px ;
}
.top-line{


    background: #161616;
    border-radius: 30px;
    display: flex;
    
}


.top-line .title {

    padding: 80px ;
    top: 178px;
    color: aliceblue;
}

.title h1{
font-size: 50px;
font-weight: 700;

}
.title p {

}

.title button {
width: 187px;
height: 56px;

background: #DD0000;
border-radius: 5px;

color: white;
}
button:hover{
    background-color: lightgreen;
    color: tomato;
    font-weight: 700;
    font-size: 25px;
    transition: 0.9s;
}
.title-img img{
width: 581px;
height: 613px;
margin-left:150px;
margin-top: 83px;
}

.football img{
    width:50px;
    animation: football 5s linear infinite;
    
}
.football{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 15px;
   
}
@keyframes football {
    0%{
        transform: translate(0);
        opacity: 0;
    }
    0%{
        transform: translate(0);
        opacity: 0;
    }
    0%{
        transform: translate(0);
        opacity: 0;
    }
    0%{
        transform: translate(0);
        opacity: 0;
    }
    0%{
        transform: translate(-50px);
        opacity: 0;
    }
}
.middler{
    display:flex ;
}
.middle-left{
    margin-right: 24px;
    margin-left: 130px;
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
    padding:10px 60px;

}
.allswitch{
    text-align: center;
    margin: 30px;
    height: 312px;
}
.allswitch a {
    display: block;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 25px;
    font-weight: 700;
    padding: 10px 30px;
}
#upmatch{
    background-color:tomato;
}
#upmatch:hover{
    background-color: antiquewhite;
    color: #DD0000;
    transition: 0.9s;
}
#switch{
    width: 250px;
    height: 50px;
    background-color: aliceblue;
    color: black;
    font-weight: 600;
    border: 5px solid white;
    border-radius: 10px;
}
#main-switch{
    width: 260px;
    height: 60px;
    background-color: rgb(247, 72, 72);
    color: black;
    font-weight: 600;
    border: 5px solid;
    border-radius: 10px;
}
.middler{
    margin: 50px 20px 50px 20px;
}
.middle-right{
    display: grid;
    grid-gap:24px;
    grid-template-columns: repeat(3, 1fr);
}
.transfer{
    border: 2px solid goldenrod;

}
.transfer img{
    width: 100%;
}
.fa-comment{
    margin-left: 30px;
}
.transfer-tittle{
    padding: 15px;
}

footer{
    background-color: black;
    color: white;
    padding: 200px;
    
}
footer h1{
    text-align: center;
    
}
.contact-list p{
    margin-left: 50px;
    margin-top: 50px;
    
}
.contact-list{
    display: flex;
    justify-content: center;
    
}
.social{
    display: flex;
    justify-content:center ;
}
.fa-brands{
    color: white;
    font-size: 30px;
    margin-left: 30px;
    margin-top: 25px;

}
.flag{
    display: flex;
}
.flag img{
    padding: 15px 15px 0 15px ;
}
.flag p{
    margin-top: 16%;
    font-size: 20px;
}
