body{
    margin: 0;
    padding: 0;
}
.topper{
    margin: 10px 20px ;
}

.top-line{
    background: #161616;
    border-radius: 30px;
    display: flex;
    
}
.top-line .title {

    padding: 80px ;
    top: 178px;
    color: aliceblue;
}

.title h1{
font-size: 50px;
font-weight: 700;

}

.title button {
    width: 187px;
    height: 56px;

    background: #DD0000;
    border-radius: 5px;
    color: white;
}

button:hover{
    background-color: lightgreen;
    color: tomato;
    font-weight: 700;
    font-size: 25px;
    transition: 0.9s;
}
.title-img img{
    width: 581px;
    height: 613px;
    margin-left:150px;
    margin-top: 83px;
}

.football img{
    width:50px;
    animation: football 5s linear infinite;
    
}
.football{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 15px;
   
}
@keyframes football {
    0%{
        transform: translate(0);
        opacity: 0;
    }
    0%{
        transform: translate(0);
        opacity: 0;
    }
    0%{
        transform: translate(0);
        opacity: 0;
    }
    0%{
        transform: translate(0);
        opacity: 0;
    }
    0%{
        transform: translate(-50px);
        opacity: 0;
    }
}
.middler{
    display:flex ;
    margin: 50px 20px 50px 20px;
}

.middle-left{
    margin-right: 24px;
    margin-left: 130px;
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
    padding:10px 60px;

}
.allswitch{
    text-align: center;
    margin: 30px;
    height: 312px;
}
.allswitch a {
    display: block;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 25px;
    font-weight: 700;
    padding: 10px 30px;
}
#blog-color{
    background-color:tomato;
}
#blog-color:hover{
    background-color: antiquewhite;
    color: #DD0000;
    transition: 0.9s;
}
#switch{
    width: 250px;
    height: 50px;
    background-color: aliceblue;
    color: black;
    font-weight: 600;
    border: 5px solid white;
    border-radius: 10px;
}
#main-switch{
    width: 260px;
    height: 60px;
    background-color: rgb(247, 72, 72);
    color: black;
    font-weight: 600;
    border: 5px solid;
    border-radius: 10px;
}

.middle-right{
    display: grid;
    grid-gap:24px;
    grid-template-columns: repeat(3, 1fr);
}
.transfer{
    border: 2px solid goldenrod;
    border-radius: 10px;

}
.transfer img{
    width: 100%;
}
.fa-comment{
    margin-left: 30px;
}
.transfer-tittle{
    padding: 15px;
}

footer{
    background-color: black;
    color: white;
    padding: 200px;
    
}
footer h1{
    text-align: center;
    
}
.contact-list p{
    margin-left: 50px;
    margin-top: 50px;
    
}
.contact-list{
    display: flex;
    justify-content: center;
    
}
.social{
    display: flex;
    justify-content:center ;
}
.fa-brands{
    color: white;
    font-size: 30px;
    margin-left: 30px;
    margin-top: 25px;

}
.flag{
    display: flex;
}
.flag img{
    padding: 15px 15px 0 15px ;
}
.flag p{
    margin-top: 16%;
    font-size: 20px;
}
.copy-right{
    display:flex;
    justify-content: center;
   
}
.copy-title{
    color: white;
    font-size: 15px;
    margin-left: 30px;
    margin-top: 25px;
    text-align: center;
}

/* responsive */

/* top part */
/* ....................... */
/* ...................... */

@media only screen and (max-width:576px) {
    .top-line {
        background-color: tomato;
        flex-direction: column;
    }

    .title-img img {
        width: 300px;
        height: 300px;
        margin-left: 30px;
        margin-top: 30px;
    }

}

@media only screen and (min-width:577px) and (max-width:992px) {
    .top-line {
        background-color: seagreen;
    }

    .title-img img {
        width: 350px;
        height: 400px;
        margin-left: 20px;
        margin-top: 150px;
    }
}

.view-all-btn {
    display: none;
}

/* middle part */
/* grid  */

@media only screen and (max-width:576px) {
    .middle-right {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width:577px) and (max-width:992px) {
    .middle-right {
        grid-template-columns: repeat(2, 1fr);
    }

    .view-all-btn {
        display: block;
    }
}

/* flex  */
@media only screen and (max-width:576px) {
    .middler {
        flex-direction: column;
    }

    .middle-left {
        margin: 0 0 20px 0px;
        padding: 0;
        width: 310px;
        height: 312px;

    }

    .football {
        width: 50%;
        position: static;
    }
}

@media only screen and (min-width:577px) and (max-width:992px) {
    .middler {
        flex-direction: column;
    }

    .middle-left {
        margin: 0 0 20px 0;
        width: 83%;
        height: 100px;
        background: white;
    }

    .allswitch {
        display: flex;
    }

    .allswitch a {
        color: black;
        margin: 0px 30px 270px 30px;
    }


}


/* footer */
@media only screen and (max-width:576px) {
    .contact-list {
        flex-direction: column;
    }

    .contact-list p {
        margin-left: 0px;
        margin-top: 10px;
    }

    footer {
        padding: 150px;
    }
}

